.inner-service {
  padding-top: 50px;
}
.second-section {
  padding-bottom: 50px;
}
.service-img {
  width: 90%;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.description {
  width: 90%;
}

.services {
  margin: 10px 30px;
}

.serv {
  padding: 10px;
}

.serv button {
  background-color: orangered;
  color: white;
  font-weight: 600;
  padding: 7px 15px;
  border: none;
  border-radius: 10px;
}

.ind_service {
  margin-top: 50px;
}

.service__container {
  background-color: black;
  padding: 10px;
}

.back {
  background-color: orangered;
  color: white;
  font-weight: 600;
  padding: 7px 15px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
