.about-text {
  margin-left: -10px;
  background-color: rgba(27, 27, 27, 255);
}

.about-img {
  width: 100%;
  height: 500px;
}

.about-text h1 {
  line-height: 40px;
}

.about-banner {
  background-color: rgba(27, 27, 27, 255);
}

.about-para {
  margin: 20px auto;
  width: 60%;
}
