.pricing {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-name {
  color: orangered;
}

.pricing-title {
  color: orangered;
  font-size: 30px;
}

.pricing-card {
  background-color: rgb(7, 6, 6);
}
