.title {
  color: orangered;
}
.text-area {
  width: 80%;
}
.para {
  font-size: 18px;
  /* width: 80%; */
}
.banner {
  background-color: black;
}
.second-section {
  background-color: black;
}
.banner-para {
  color: white;
}
.align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 50px; */
  width: 50%;
}
