.registration {
  width: 40%;
  padding: 50px;
  background-color: rgb(24, 23, 23);
  border: 1px solid white;
  border-radius: 10px;
}

.log-button {
  background-color: orangered;
  border: none;
  border-radius: 10px;
}
